
.block_gradient_head {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 70px;
}

.neon_gradient_head {
    position: relative;
    width: 700px;
    height: 200px;
    background: linear-gradient(135deg, rgba(255, 68, 43, 1) 1%, rgba(255, 138, 66, 1) 7%, rgba(255, 255, 53, 1) 14%, rgba(255, 255, 53, 1) 17%, rgba(77, 255, 53, 1) 28%, rgba(53, 255, 248, 1) 34%, rgba(53, 255, 248, 1) 40%, rgba(60, 53, 255, 1) 47%, rgba(255, 53, 241, 1) 54%, rgba(255, 53, 56, 1) 63%, rgba(255, 238, 7, 1) 71%, rgba(255, 238, 7, 1) 75%, rgba(7, 255, 20, 1) 82%, rgba(7, 242, 255, 1) 86%, rgba(7, 242, 255, 1) 89%, rgba(15, 7, 255, 1) 100%);
    background-size: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 30s linear infinite;
}

.neon_gradient_head1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* Размытие */
    background: linear-gradient(135deg, rgba(255, 68, 43, 1) 1%, rgba(255, 138, 66, 1) 7%, rgba(255, 255, 53, 1) 14%, rgba(255, 255, 53, 1) 17%, rgba(77, 255, 53, 1) 28%, rgba(53, 255, 248, 1) 34%, rgba(53, 255, 248, 1) 40%, rgba(60, 53, 255, 1) 47%, rgba(255, 53, 241, 1) 54%, rgba(255, 53, 56, 1) 63%, rgba(255, 238, 7, 1) 71%, rgba(255, 238, 7, 1) 75%, rgba(7, 255, 20, 1) 82%, rgba(7, 242, 255, 1) 86%, rgba(7, 242, 255, 1) 89%, rgba(15, 7, 255, 1) 100%);
    background-size: 400%;
    animation: animate 30s linear infinite;
    filter: blur(10px);
    z-index: -1;
}

.neon_gradient_head .neon_gradient_head1 {

    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #000;
    /* Работа с текстом */
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 25px;
    font-family: cursive;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}
